In [1]:
%load_ext dotenv
%dotenv

# VMFI Data processing pipeline

This workbook aims to emulate the current data processing pipeline that occurs in VMFI pipeline. The logic and processing is largely based on the following document [Insights data portal - Data sources and sql analysis](https://educationgovuk.sharepoint.com.mcas.ms/:w:/r/sites/VMFI/_layouts/15/Doc.aspx?sourcedoc=%7B38C1DC37-7CDB-48B8-9E22-284F4F311C0B%7D&file=1.%20Insights%20portal%20-%20data%20sources%20and%20sql%20analysis%20v010%20-%20Copy.docx&action=default&mobileredirect=true) and will stay true to this document even if the existing stored procedures are doing something different. This will form the basis of a gap analysis going forward. 

All data loaded in the following workbook comes from the set of CSV files in the `data` folder alongside this workbook. These datasets are for the most part from the list at the start of the linked document. However, because there is additional standing data required to fully implement the pipeline then this data has been exported from the development VMFI pipeline database. These files are currently: 

| File name | DB Table |
|:----------|----------|
|standing_data_cdc.csv | standing_data.cdc |

In [2]:
import pandas as pd
import mappings as mappings
import schemas as schemas
import datetime
import time
import glob
import os

# Create and clean directory
from pathlib import Path
Path("output/pre-processing").mkdir(parents=True, exist_ok=True)

files = glob.glob("output/pre-processing/*")
for f in files:
    os.remove(f)

start_time = time.time()
current_year = 2022
accounts_return_period_start_date = datetime.date(current_year - 1, 9, 10)
academy_year_start_date = datetime.date(current_year - 1, 9, 1)
academy_year_end_date = datetime.date(current_year, 8, 30)
maintained_schools_year_start_date = datetime.date(current_year, 4, 1)
maintained_schools_year_end_date = datetime.date(current_year, 3, 31)

## CDC data load and preparation

School buildings condition dataset. Based on the surveys performed throughout 2018-2019.

The data in the file `data/standing_data_cdc.csv` is just an export of the data in `standing_data.cdc` table. Without the Year and Import ID fields. In future this will likely have to be read directly from the source database as per [this document.](https://educationgovuk.sharepoint.com.mcas.ms/:w:/r/sites/VMFI/_layouts/15/Doc.aspx?sourcedoc=%7B38C1DC37-7CDB-48B8-9E22-284F4F311C0B%7D&file=1.%20Insights%20portal%20-%20data%20sources%20and%20sql%20analysis%20v010%20-%20Copy.docx&action=default&mobileredirect=true)

In [3]:
cdc = pd.read_csv('data/standing_data_cdc.csv', encoding='utf8', index_col=schemas.cdc_index_col, usecols=schemas.cdc.keys(), dtype=schemas.cdc)

cdc['Total Internal Floor Area'] = cdc.groupby(by=['URN'])['GIFA'].sum()
cdc['Proportion Area'] = (cdc['GIFA'] / cdc['Total Internal Floor Area'])
cdc['Indicative Age'] = cdc['Block Age'].fillna('').map(mappings.map_block_age).astype('Int64')
cdc['Age Score'] = cdc['Proportion Area'] * (current_year - cdc['Indicative Age'])
cdc['Age Average Score'] = cdc.groupby(by=['URN'])['Age Score'].sum()
cdc = cdc[['Total Internal Floor Area', 'Age Average Score']].drop_duplicates()

In [4]:
cdc.to_csv('output/pre-processing/cdc.csv')
cdc

        Total Internal Floor Area  Age Average Score
URN
100150                     2803.0          48.358188
100162                     2105.0         133.162945
100164                     2934.0               97.0
100166                     2040.0          91.705882
105304                     1602.0          35.752809
...                           ...                ...
144913                     3111.0          16.704275
144917                     2620.0          78.412214
105623                     3382.0                7.0
144918                     4733.0          19.009296
144919                     1762.0          38.370602

[21573 rows x 2 columns]

## School Census data load

*Pupil Census* - DfE data collection providing information about school and pupil characteristics, for example percentage of pupils claiming free school`z meals, or having English as their second language. 

*Workforce census* - Single reference for all school workforce statistics based on staff working in publicly funded schools in England.

The following code loads both the workforce and pupil census data and preforms an `inner` join by URN on the data sets.

In [5]:
school_workforce_census = pd.read_excel('data/School_Tables_School_Workforce_Census_2022.xlsx', header=5, index_col=schemas.workforce_census_index_col, usecols=schemas.workforce_census.keys(), dtype=schemas.workforce_census, na_values=["x","u","c"], keep_default_na=True).drop_duplicates()

school_pupil_census = pd.read_csv('data/standing_data_census_pupils.csv', encoding='utf8', index_col=schemas.pupil_census_index_col, usecols=schemas.pupil_census.keys(), dtype=schemas.pupil_census).drop_duplicates()

census = school_pupil_census.join(school_workforce_census, on='URN', how='inner', rsuffix='_pupil', lsuffix='_workforce')

census.drop(labels=['full time pupils', 'headcount of pupils'], axis=1, inplace=True)

In [6]:

# Rename Columns
census.rename(columns={
    "Total Number of Non-Classroom-based School Support Staff, (Other school support staff plus Administrative staff plus Technicians and excluding Auxiliary staff (Full-Time Equivalent)": "FullTimeOther",
    "Total Number of Non Classroom-based School Support Staff, Excluding Auxiliary Staff (Headcount)": "FullTimeOtherHeadCount",
}, inplace=True)

In [7]:
census.to_csv('output/pre-processing/census.csv')
census

,% of pupils known to be eligible for and claiming free school me,% of pupils known to be eligible for free school meals (Performa,number of pupils whose first language is known or believed to be other than English,Statutory Low Age,Total School Workforce (Headcount),Total Number of Teachers in the Leadership Group (Headcount),Total Number of Teachers (Headcount),Total Number of Teaching Assistants (Headcount),FullTimeOtherHeadCount,Total Number of Auxiliary Staff (Headcount),Total School Workforce (Full-Time Equivalent),Total Number of Teachers in the Leadership Group (Full-time Equivalent),Total Number of Teachers (Full-Time Equivalent),Total Number of Teaching Assistants (Full-Time Equivalent),FullTimeOther,Total Number of Auxiliary Staff (Full-Time Equivalent),Pupil: Teacher Ratio (Full-Time Equivalent of qualified and unqualified teachers),Teachers with Qualified Teacher Status (%) (Headcount),Number of Vacant Teacher Posts
URN,,,,,,,,,,,,,,,,,,,
141334,33.8,52.3,93.0,4,48,3,15,14,6,13,34.17,2.64,13.11,10.29,4.82,5.95,24.8,100.000000,0
141396,23.4,60.3,236.0,3,118,4,39,34,11,34,82.47,4.00,34.00,29.55,10.13,8.79,18.3,100.000000,0
141397,33.2,47.7,127.0,3,105,5,27,42,9,27,72.81,4.24,24.55,31.84,6.55,9.87,19.7,100.000000,0
142223,5.1,8.7,343.0,3,156,5,56,44,9,47,99.66,4.16,47.12,33.07,6.57,12.90,23.0,100.000000,0
144396,56.7,64.8,29.0,3,37,2,13,9,4,11,25.57,2.00,11.39,7.36,4.00,2.82,18.1,100.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104642,2.4,2.6,14.0,4,52,4,18,10,6,18,34.47,3.60,15.80,6.27,5.22,7.18,26.6,100.000000,0
104643,3.5,8.5,13.0,3,68,3,19,24,6,19,39.89,3.00,17.40,11.74,3.34,7.41,24.7,100.000000,0
104645,32.9,33.8,43.0,7,37,3,13,10,4,10,26.47,3.00,12.40,6.78,3.19,4.10,19.1,92.307692,0
104646,29.9,31.9,20.0,3,29,2,12,10,2,5,22.36,2.00,12.00,6.24,1.44,2.68,15.8,100.000000,0
104648,44.1,48.2,96.0,3,31,2,9,6,5,11,22.01,2.00,8.20,4.55,2.42,6.84,21.7,100.000000,0

## Special Education Needs (SEN) data load and preparation

Special educational needs dataset. Contains information about the number of pupils, who require various SEN provisions. This loads the `SEN` data, which originates from [here](https://explore-education-statistics.service.gov.uk/find-statistics/special-educational-needs-in-england#dataDownloads-1)

In [8]:
sen = pd.read_csv('data/SEN.csv', encoding='cp1252', index_col=schemas.sen_index_col, dtype=schemas.sen, usecols=schemas.sen.keys())
sen['Percentage SEN'] = (sen['EHC plan'] / sen['Total pupils']) * 100.0
sen['Primary Need SPLD'] = sen['EHC_Primary_need_spld'] + sen['SUP_Primary_need_spld']
sen['Primary Need MLD'] = sen['EHC_Primary_need_mld'] + sen['SUP_Primary_need_mld']
sen['Primary Need SLD'] = sen['EHC_Primary_need_sld'] + sen['SUP_Primary_need_sld']
sen['Primary Need PMLD'] = sen['EHC_Primary_need_pmld'] + sen['SUP_Primary_need_pmld']
sen['Primary Need SEMH'] = sen['EHC_Primary_need_semh'] + sen['SUP_Primary_need_semh']
sen['Primary Need SLCN'] = sen['EHC_Primary_need_slcn'] + sen['SUP_Primary_need_slcn']
sen['Primary Need HI'] = sen['EHC_Primary_need_hi'] + sen['SUP_Primary_need_hi']
sen['Primary Need VI'] = sen['EHC_Primary_need_vi'] + sen['SUP_Primary_need_vi']
sen['Primary Need MSI'] = sen['EHC_Primary_need_msi'] + sen['SUP_Primary_need_msi']
sen['Primary Need PD'] = sen['EHC_Primary_need_pd'] + sen['SUP_Primary_need_pd']
sen['Primary Need ASD'] = sen['EHC_Primary_need_asd'] + sen['SUP_Primary_need_asd']
sen['Primary Need OTH'] = sen['EHC_Primary_need_oth'] + sen['SUP_Primary_need_oth']
sen.rename(columns={'prov_slcn': 'Prov_SLCN', 'prov_hi':'Prov_HI', 'prov_vi':'Prov_VI', 'prov_msi': 'Prov_MSI', 'prov_pd':'Prov_PD', 'prov_asd':'Prov_ASD', 'prov_oth':'Prov_OTH'}, inplace=True)

sen = sen[['Total pupils', 'EHC plan', 'Percentage SEN', 'Primary Need SPLD', 'Primary Need MLD', 'Primary Need SLD', 'Primary Need PMLD', 'Primary Need SEMH', 'Primary Need SLCN', 'Primary Need HI', 'Primary Need VI', 'Primary Need MSI', 'Primary Need PD', 'Primary Need ASD', 'Primary Need OTH', 'Prov_SPLD', 'Prov_MLD', 'Prov_SLD', 'Prov_PMLD', 'Prov_SEMH', 'Prov_SLCN','Prov_HI','Prov_VI','Prov_MSI','Prov_PD','Prov_ASD','Prov_OTH']]

In [9]:
sen.to_csv("output/pre-processing/sen.csv")
sen

,Total pupils,EHC plan,Percentage SEN,Primary Need SPLD,Primary Need MLD,Primary Need SLD,Primary Need PMLD,Primary Need SEMH,Primary Need SLCN,Primary Need HI,...,Prov_SLD,Prov_PMLD,Prov_SEMH,Prov_SLCN,Prov_HI,Prov_VI,Prov_MSI,Prov_PD,Prov_ASD,Prov_OTH
URN,,,,,,,,,,,,,,,,,,,,,
100000,271,8,2.95203,2,4,0,0,9,31,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100001,739,0,0.0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100002,269,0,0.0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100003,1045,0,0.0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100005,136,2,1.470588,0,0,0,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149557,41,3,7.317073,2,0,0,0,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
149632,1291,58,4.492641,31,15,0,0,20,25,8,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
149633,86,0,0.0,2,1,0,0,1,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
149635,654,10,1.529052,15,1,0,0,12,2,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
149636,186,8,4.301075,5,21,0,0,15,13,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## AR Data load and preparation

This loads the Annual accounts return dataset and the corresponding mapping file. This extract only contains benchmarking section, which consists of submissions of costs, income, and balances of individual academies.

The mapping file, contains the mapping from AR4 cell references to cost categories and descriptions.

In [10]:
ar_cell_mapping = pd.read_csv('data/AR_cell_mapping.csv', encoding='utf8', index_col=schemas.ar_cell_mapping_index_col, usecols=schemas.ar_cell_mapping.keys(), dtype=schemas.ar_cell_mapping)

ar_raw = pd.read_csv('data/AR_raw.csv', encoding='utf8', index_col=schemas.ar_index_col, usecols=schemas.ar.keys(), dtype=schemas.ar)

ar = ar_raw.reset_index().merge(ar_cell_mapping, right_on='cell', left_on='aruniquereference').set_index(schemas.ar_index_col)

pfi_schools = ar[ar['aruniquereference'] == 'BAE310-T'][['value']].map(mappings.map_is_pfi_school).rename(columns={'value': 'PFI School'})

academy_financial_position = ar[ar['aruniquereference'] == 'BAB030-T'][['value']].rename(columns={'value': 'Academy Balance'})
central_services_financial_position = ar[(ar['aruniquereference'] == 'BAB030-T') | (ar['aruniquereference'] == 'BTB030')].groupby('trustupin')['value'].sum().rename('Central Services Balance')
trust_financial_position = ar[(ar['aruniquereference'] == 'BTB030')][['trustupin', 'value']].rename(columns={'value': 'Trust Balance'}).set_index('trustupin')

teachingstaff = ar[ar['aruniquereference'] == 'BAE010-T'][['value']].rename(columns={'value': 'TeachingStaff'})
cateringsupplies = ar[ar['aruniquereference'] == 'BAE250-T'][['value']].rename(columns={'value': 'CateringSupplies'}) 


ar = (ar.join(pfi_schools, how='left')
      .join(academy_financial_position, how='left')
      .join(teachingstaff, how='left')
      .join(cateringsupplies, how='left')
      .join(trust_financial_position, on='trustupin', how='left')
      .join(central_services_financial_position, on='trustupin', how='left'))

trust_agg = (ar.reset_index()[['Cost Pool', 'Metric', 'academyupin', 'trustupin', 'value']].pivot_table(index='trustupin', columns=['Cost Pool','Metric'], values='value', aggfunc="sum"))
trust_agg.columns = ['_'.join(str(s).strip() for s in col if s) for col in trust_agg.columns]
trust_agg.reset_index().rename({'index':'trustupin'}).set_index('trustupin')

academy_agg = (ar.reset_index()[['Cost Pool', 'Metric', 'academyupin', 'trustupin', 'value']].pivot_table(index='academyupin', columns=['Cost Pool','Metric'], values='value', aggfunc="sum"))
academy_agg.columns =  ['_'.join(str(s).strip() for s in col if s) for col in academy_agg.columns]
academy_agg.reset_index().rename({'index':'academyupin'}).set_index('academyupin')

,Administrative supplies_Administrative supplies (non educational),Catering_Catering staff,Catering_Catering supplies,Catering_Income from catering,Educational supplies_Examination fees,Educational supplies_Learning resources (not ICT equipment),IT_ICT learning resources,Non-educational support staff_Administrative and clerical staff,Non-educational support staff_Auditor costs,Non-educational support staff_Other staff,...,Premises_Maintenance of premises,Premises_Other occupation costs,Premises_Premises staff,Teaching and Teaching support staff_Agency supply teaching staff,Teaching and Teaching support staff_Education support staff,Teaching and Teaching support staff_Educational consultancy,Teaching and Teaching support staff_Supply teaching staff,Teaching and Teaching support staff_Teaching staff,Utilities_Energy,Utilities_Water and sewerage
academyupin,,,,,,,,,,,,,,,,,,,,,
111443,85.0,0.0,651.0,552.0,158.0,463.0,71.0,623.0,0.0,11.0,...,172.0,34.0,390.0,47.0,916.0,118.0,66.0,5687.0,117.0,12.0
111451,67.0,0.0,60.0,0.0,76.0,545.0,5.0,355.0,0.0,23.0,...,97.0,14.0,313.0,113.0,919.0,0.0,0.0,3728.0,109.0,30.0
111453,2288.0,0.0,416.0,0.0,368.0,3216.0,352.0,2784.0,0.0,144.0,...,960.0,16.0,640.0,736.0,4480.0,0.0,48.0,21152.0,2000.0,112.0
111710,183.0,182.0,179.0,257.0,164.0,403.0,173.0,850.0,14.0,42.0,...,106.0,22.0,125.0,69.0,1305.0,0.0,33.0,5609.0,122.0,29.0
113087,652.0,0.0,71.0,0.0,138.0,183.0,0.0,607.0,13.0,55.0,...,139.0,0.0,124.0,0.0,983.0,25.0,0.0,5227.0,205.0,52.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163906,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
163968,31.0,0.0,41.0,16.0,0.0,25.0,0.0,1.0,0.0,64.0,...,4.0,0.0,19.0,124.0,125.0,4.0,0.0,355.0,17.0,1.0
163969,1296.0,176.0,2000.0,0.0,0.0,1712.0,48.0,976.0,0.0,48.0,...,224.0,176.0,512.0,944.0,11280.0,48.0,2576.0,22560.0,464.0,192.0
163970,1648.0,0.0,832.0,0.0,432.0,2320.0,32.0,1952.0,0.0,2224.0,...,-32.0,96.0,1760.0,2256.0,4288.0,784.0,0.0,25376.0,1536.0,96.0
164084,-12288.0,0.0,976.0,0.0,96.0,2128.0,0.0,1568.0,0.0,64.0,...,656.0,112.0,1664.0,3376.0,6656.0,0.0,0.0,13744.0,560.0,64.0

In [11]:
ar.to_csv('output/pre-processing/ar.csv')
ar

,trustupin,companynumber,aruniquereference,value,Description L1,Metric,Metric ID,Cost Pool,Presentation name,Cost Pool ID,PFI School,Academy Balance,TeachingStaff,CateringSupplies,Trust Balance,Central Services Balance
academyupin,,,,,,,,,,,,,,,,
141615,137302,8212263,BAE010-T,603.0,Staff costs,Teaching staff,1,Teaching and Teaching support staff,Teaching and Teaching support staff,1,Non-PFI school,39.0,603.0,55.0,201.0,2117.0
141615,137302,8212263,BAE020-T,0.0,Staff costs,Supply teaching staff,5,Teaching and Teaching support staff,Teaching and Teaching support staff,1,Non-PFI school,39.0,603.0,55.0,201.0,2117.0
141615,137302,8212263,BAE030-T,273.0,Staff costs,Education support staff,2,Teaching and Teaching support staff,Teaching and Teaching support staff,1,Non-PFI school,39.0,603.0,55.0,201.0,2117.0
141615,137302,8212263,BAE040-T,49.0,Staff costs,Administrative and clerical staff,6,Non-educational support staff,Non-educational support staff,2,Non-PFI school,39.0,603.0,55.0,201.0,2117.0
141615,137302,8212263,BAE050-T,41.0,Staff costs,Premises staff,14,Premises,Premises,5,Non-PFI school,39.0,603.0,55.0,201.0,2117.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
<NA>,136943,7973953,BTI110,0.0,Self-generated income,Income from catering,33,Catering,Catering income,10,NaN,NaN,NaN,NaN,0.0,338.0
<NA>,136943,7973953,BTB030,0.0,Closing balance,Closing balance (Restricted and Unrestricted F...,0,<NA>,<NA>,0,NaN,NaN,NaN,NaN,0.0,338.0
<NA>,137730,8476149,BTITOT,2455.0,Total revenue income,Total revenue income,0,<NA>,<NA>,0,NaN,NaN,NaN,NaN,385.0,14609.0
<NA>,137730,8476149,BTI110,0.0,Self-generated income,Income from catering,33,Catering,Catering income,10,NaN,NaN,NaN,NaN,385.0,14609.0
<NA>,137730,8476149,BTB030,385.0,Closing balance,Closing balance (Restricted and Unrestricted F...,0,<NA>,<NA>,0,NaN,NaN,NaN,NaN,385.0,14609.0

Create a summary table for the AR stance of each distinct academy in the table.

In [12]:
academy_ar = ar.reset_index().drop_duplicates(subset=['academyupin'], ignore_index=True)[
    ['academyupin', 'Academy Balance', 'Trust Balance', 'Central Services Balance', 'PFI School', 'TeachingStaff', 'CateringSupplies']
].set_index('academyupin')

academy_ar['Central Services Financial Position'] = academy_ar['Central Services Balance'].map(mappings.map_is_surplus_deficit)
academy_ar['Academy Financial Position'] = academy_ar['Academy Balance'].map(mappings.map_is_surplus_deficit) 
academy_ar['Trust Financial Position'] = academy_ar['Trust Balance'].map(mappings.map_is_surplus_deficit) 

academy_agg = (ar.reset_index()[['Cost Pool', 'Metric', 'academyupin', 'trustupin', 'value']].pivot_table(index='academyupin', columns=['Cost Pool','Metric'], values='value', aggfunc="sum"))
academy_agg.columns =  ['_'.join(str(s).strip() for s in col if s) for col in academy_agg.columns]
academy_agg.reset_index().rename({'index':'academyupin'}).set_index('academyupin')

academy_ar.merge(academy_agg, left_on='academyupin', right_index=True, how='left')

,Academy Balance,Trust Balance,Central Services Balance,PFI School,TeachingStaff,CateringSupplies,Central Services Financial Position,Academy Financial Position,Trust Financial Position,Administrative supplies_Administrative supplies (non educational),...,Premises_Maintenance of premises,Premises_Other occupation costs,Premises_Premises staff,Teaching and Teaching support staff_Agency supply teaching staff,Teaching and Teaching support staff_Education support staff,Teaching and Teaching support staff_Educational consultancy,Teaching and Teaching support staff_Supply teaching staff,Teaching and Teaching support staff_Teaching staff,Utilities_Energy,Utilities_Water and sewerage
academyupin,,,,,,,,,,,,,,,,,,,,,
141615,39.0,201.0,2117.0,Non-PFI school,603.0,55.0,Surplus,Surplus,Surplus,17.0,...,331.0,21.0,41.0,26.0,273.0,58.0,0.0,603.0,37.0,21.0
151709,174.0,-86.0,525.0,Non-PFI school,885.0,85.0,Surplus,Surplus,Deficit,66.0,...,42.0,0.0,26.0,5.0,279.0,0.0,0.0,885.0,14.0,5.0
162184,336.0,1052.0,2906.0,Non-PFI school,1412.0,0.0,Surplus,Surplus,Surplus,15.0,...,16.0,3.0,0.0,0.0,155.0,100.0,411.0,1412.0,22.0,1.0
162620,15.0,1052.0,2906.0,Non-PFI school,680.0,0.0,Surplus,Surplus,Surplus,11.0,...,7.0,14.0,0.0,38.0,81.0,72.0,243.0,680.0,13.0,-1.0
121200,0.0,0.0,338.0,Non-PFI school,1780.0,66.0,Surplus,Deficit,Deficit,464.0,...,2720.0,480.0,2640.0,544.0,9776.0,832.0,0.0,35408.0,1328.0,-96.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120466,1484.0,NaN,1484.0,Non-PFI school,4998.0,91.0,Surplus,Surplus,Unknown,158.0,...,258.0,115.0,159.0,12.0,657.0,154.0,0.0,4998.0,205.0,20.0
120499,851.0,NaN,851.0,Non-PFI school,984.0,84.0,Surplus,Surplus,Unknown,18.0,...,70.0,4.0,33.0,68.0,279.0,68.0,0.0,984.0,18.0,5.0
120540,320.0,NaN,320.0,Non-PFI school,985.0,23.0,Surplus,Surplus,Unknown,28.0,...,30.0,22.0,42.0,16.0,290.0,1.0,3.0,985.0,47.0,15.0
120295,764.0,NaN,764.0,Non-PFI school,1337.0,217.0,Surplus,Surplus,Unknown,81.0,...,54.0,0.0,61.0,100.0,482.0,117.0,0.0,1337.0,37.0,3.0
<NA>,NaN,5009.0,5009.0,NaN,NaN,NaN,Surplus,Unknown,Surplus,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
academy_ar

,Academy Balance,Trust Balance,Central Services Balance,PFI School,TeachingStaff,CateringSupplies,Central Services Financial Position,Academy Financial Position,Trust Financial Position
academyupin,,,,,,,,,
141615,39.0,201.0,2117.0,Non-PFI school,603.0,55.0,Surplus,Surplus,Surplus
151709,174.0,-86.0,525.0,Non-PFI school,885.0,85.0,Surplus,Surplus,Deficit
162184,336.0,1052.0,2906.0,Non-PFI school,1412.0,0.0,Surplus,Surplus,Surplus
162620,15.0,1052.0,2906.0,Non-PFI school,680.0,0.0,Surplus,Surplus,Surplus
121200,0.0,0.0,338.0,Non-PFI school,1780.0,66.0,Surplus,Deficit,Deficit
...,...,...,...,...,...,...,...,...,...
120466,1484.0,NaN,1484.0,Non-PFI school,4998.0,91.0,Surplus,Surplus,Unknown
120499,851.0,NaN,851.0,Non-PFI school,984.0,84.0,Surplus,Surplus,Unknown
120540,320.0,NaN,320.0,Non-PFI school,985.0,23.0,Surplus,Surplus,Unknown
120295,764.0,NaN,764.0,Non-PFI school,1337.0,217.0,Surplus,Surplus,Unknown
<NA>,NaN,5009.0,5009.0,NaN,NaN,NaN,Surplus,Unknown,Surplus

Now compute the trust financial position in the same manor as the individual academy position

In [14]:
trust_agg = (ar.reset_index()[['Cost Pool', 'Metric', 'academyupin', 'trustupin', 'value']].pivot_table(index='trustupin', columns=['Cost Pool','Metric'], values='value', aggfunc="sum"))
trust_agg.columns = ['_'.join(str(s).strip() for s in col if s) for col in trust_agg.columns]
trust_agg.reset_index().rename({'index':'trustupin'}).set_index('trustupin')

,Administrative supplies_Administrative supplies (non educational),Catering_Catering staff,Catering_Catering supplies,Catering_Income from catering,Educational supplies_Examination fees,Educational supplies_Learning resources (not ICT equipment),IT_ICT learning resources,Non-educational support staff_Administrative and clerical staff,Non-educational support staff_Auditor costs,Non-educational support staff_Other staff,...,Premises_Maintenance of premises,Premises_Other occupation costs,Premises_Premises staff,Teaching and Teaching support staff_Agency supply teaching staff,Teaching and Teaching support staff_Education support staff,Teaching and Teaching support staff_Educational consultancy,Teaching and Teaching support staff_Supply teaching staff,Teaching and Teaching support staff_Teaching staff,Utilities_Energy,Utilities_Water and sewerage
trustupin,,,,,,,,,,,,,,,,,,,,,
122824,6004.0,644.0,9733.0,2642.0,3818.0,33832.0,5113.0,23453.0,219.0,0.0,...,6185.0,1949.0,7838.0,7554.0,13888.0,1503.0,0.0,239508.0,6155.0,769.0
122836,10505.0,2.0,8644.0,2787.0,1966.0,5241.0,3753.0,18774.0,162.0,1911.0,...,1422.0,777.0,5454.0,5660.0,30236.0,6898.0,912.0,107601.0,3226.0,519.0
124263,4626.0,0.0,59.0,84.0,879.0,2590.0,878.0,6841.0,77.0,2944.0,...,2300.0,309.0,900.0,1579.0,14564.0,1342.0,0.0,38962.0,1281.0,0.0
126463,391.0,262.0,204.0,181.0,183.0,494.0,124.0,722.0,34.0,601.0,...,579.0,0.0,294.0,160.0,1620.0,284.0,0.0,4676.0,470.0,18.0
133307,2799.0,0.0,975.0,429.0,281.0,978.0,692.0,2459.0,29.0,255.0,...,713.0,245.0,440.0,244.0,325.0,491.0,188.0,15576.0,427.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163751,331.0,0.0,323.0,6.0,0.0,349.0,0.0,612.0,18.0,216.0,...,107.0,72.0,226.0,172.0,2156.0,11.0,0.0,4653.0,106.0,18.0
163792,213.0,83.0,134.0,98.0,39.0,276.0,39.0,924.0,10.0,32.0,...,62.0,8.0,138.0,13.0,800.0,76.0,0.0,2114.0,100.0,8.0
163818,231.0,76.0,127.0,8.0,81.0,94.0,65.0,384.0,33.0,3.0,...,97.0,60.0,234.0,253.0,945.0,111.0,0.0,3516.0,167.0,28.0
163851,35.0,0.0,34.0,0.0,0.0,49.0,32.0,37.0,14.0,45.0,...,19.0,7.0,20.0,18.0,235.0,29.0,0.0,496.0,24.0,2.0
163899,17.0,0.0,23.0,0.0,0.0,25.0,3.0,34.0,12.0,0.0,...,4.0,2.0,19.0,0.0,119.0,1.0,3.0,291.0,2.0,0.0

## Academy and maintained schools data load and preparation

This reads the main GIAS data (edubasealldataYYYYMMDD file) and the associated links file (links_edubasealldataYYYYMMDD file). This is taken from the [GIAS Service](https://get-information-schools.service.gov.uk/help)

Other columns are tidied up by asserting the correct type for that column. This is tidying phase is largly because on load integer columns will be inferred to be a float as opposed to an integer.

In [15]:
gias = pd.read_csv('data/edubasealldata20240312.csv', encoding='cp1252', 
                   index_col=schemas.gias_index_col, usecols=schemas.gias.keys(), dtype=schemas.gias)

gias_links = pd.read_csv('data/links_edubasealldata20240312.csv', encoding='cp1252', 
                         index_col=schemas.gias_links_index_col, usecols=schemas.gias_links.keys(), dtype=schemas.gias_links)

# GIAS transformations
gias['LA Establishment Number'] = gias['LA (code)'] + '-' + gias['EstablishmentNumber'].astype('string')
gias['LA Establishment Number'] = gias['LA Establishment Number'].astype('string')

gias['OpenDate'] = pd.to_datetime(gias['OpenDate'], dayfirst=True, format='mixed')
gias['CloseDate'] = pd.to_datetime(gias['CloseDate'], dayfirst=True, format='mixed')
gias['SchoolWebsite'] = gias['SchoolWebsite'].fillna('').map(mappings.map_school_website)
gias['Boarders (name)'] = gias['Boarders (name)'].fillna('').map(mappings.map_boarders)
gias['OfstedRating (name)'] = gias['OfstedRating (name)'].fillna('').map(mappings.map_ofsted_rating)
gias['NurseryProvision (name)'] = gias['NurseryProvision (name)'].fillna('')
gias['OfficialSixthForm (name)'] = gias['OfficialSixthForm (name)'].fillna('').map(mappings.map_sixth_form)
gias['AdmissionsPolicy (name)'] = gias['AdmissionsPolicy (name)'].fillna('').map(mappings.map_admission_policy)
gias['HeadName'] = gias['HeadTitle (name)'] + ' ' + gias['HeadFirstName'] + ' ' + gias['HeadLastName']

In the following cell, we find all the predecessor and merged links. The links are then Ranked by URN and order by 'Link Established Date'. The linked GAIS data in then joined to the base GIAS data. This creates the overall school data set. This dataset is then filtered for schools that are open (CloseDate is null) and the schools with nested links that are Ranked 1.

In [16]:
gias_links = gias_links[
    gias_links['LinkType'].isin(['Predecessor', 
                                 'Predecessor - amalgamated', 
                                 'Predecessor - Split School', 
                                 'Predecessor - merged', 
                                 'Merged - expansion of school capacity', 
                                 'Merged - change in age range'])
].sort_values(by='LinkEstablishedDate', ascending=False)

gias_links['Rank'] = gias_links.groupby('URN').cumcount() + 1
gias_links['Rank'] = gias_links['Rank'].astype('Int64')

schools = gias.join(gias_links, on='URN', how='left', rsuffix='_links', lsuffix='_school').sort_values(by='URN')

schools = schools[
    schools['CloseDate'].isna() & ((schools['Rank'] == 1) | (schools['Rank'].isna()))
].drop(columns=['LinkURN', 'LinkName', 'LinkType', 'LinkEstablishedDate', 'Rank'])

In [17]:
schools.to_csv('output/pre-processing/schools.csv')
schools.sort_index()

,LA (code),LA (name),EstablishmentNumber,EstablishmentName,TypeOfEstablishment (code),TypeOfEstablishment (name),EstablishmentStatus (code),EstablishmentStatus (name),OpenDate,CloseDate,...,UrbanRural (name),BoardingEstablishment (name),PreviousLA (code),PreviousLA (name),PreviousEstablishmentNumber,OfstedRating (name),MSOA (code),LSOA (code),LA Establishment Number,HeadName
URN,,,,,,,,,,,,,,,,,,,,,
100000,201,City of London,3614,The Aldgate School,2,Voluntary aided school,1,Open,NaT,NaT,...,(England/Wales) Urban major conurbation,<NA>,999,<NA>,<NA>,Outstanding,E02000001,E01032739,201-3614,Miss Alexandra Allan
100001,201,City of London,6005,City of London School for Girls,11,Other independent school,1,Open,1920-01-01,NaT,...,(England/Wales) Urban major conurbation,Does not have boarders,999,<NA>,<NA>,,E02000001,E01000002,201-6005,Mrs Jenny Brown
100002,201,City of London,6006,St Paul's Cathedral School,11,Other independent school,1,Open,1939-01-01,NaT,...,(England/Wales) Urban major conurbation,Has boarders,999,<NA>,<NA>,,E02000001,E01032739,201-6006,<NA>
100003,201,City of London,6007,City of London School,11,Other independent school,1,Open,1919-01-01,NaT,...,(England/Wales) Urban major conurbation,Does not have boarders,999,<NA>,<NA>,,E02000001,E01032739,201-6007,Mr Alan Bird
100005,202,Camden,1048,Thomas Coram Centre,15,Local authority nursery school,1,Open,NaT,NaT,...,(England/Wales) Urban major conurbation,<NA>,999,<NA>,<NA>,Outstanding,E02007115,E01000937,202-1048,Ms Perina Holness
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
402468,679,Monmouthshire,5500,King Henry viii 3-19 School,30,Welsh establishment,1,Open,2023-09-01,NaT,...,<NA>,<NA>,999,<NA>,<NA>,,999999999,999999999,679-5500,<NA>
402469,681,Cardiff,2333,Ysgol Gynradd Groes-Wen Primary,30,Welsh establishment,1,Open,2023-09-01,NaT,...,(England/Wales) Rural village,<NA>,999,<NA>,<NA>,,W02000380,W01001729,681-2333,<NA>
402470,668,Pembrokeshire,2398,Ysgol Bro Penfro,30,Welsh establishment,4,Proposed to open,2024-09-01,NaT,...,(England/Wales) Rural town and fringe,<NA>,999,<NA>,<NA>,,W02000140,W01000607,668-2398,<NA>
402471,679,Monmouthshire,2325,Ysgol Gymraeg Trefynwy,30,Welsh establishment,4,Proposed to open,2024-09-01,NaT,...,(England/Wales) Urban city and town,<NA>,999,<NA>,<NA>,,W02000339,W01001978,679-2325,<NA>
402472,666,Powys,2156,Ysgol Golwg Pen y Fan,30,Welsh establishment,4,Proposed to open,2024-09-01,NaT,...,(England/Wales) Rural town and fringe in a spa...,<NA>,999,<NA>,<NA>,,W02000113,W01000492,666-2156,Mrs Sarah Court

Merge required GIAS, census, sen, cdc, PFI, and arr data with the base academy data

In [18]:
academies_list = pd.read_csv('data/master_list_raw.csv', encoding='utf8', index_col=schemas.academy_master_list_index_col, dtype=schemas.academy_master_list, usecols=schemas.academy_master_list.keys()).rename(columns={'UKPRN': 'Academy UKPRN'})

academies_base = academies_list.merge(schools.reset_index(), left_index=True, right_on='LA Establishment Number').set_index('URN')

academies = (academies_base.merge(census, on='URN', how='left')
             .merge(sen, on='URN', how='left')
             .merge(cdc, on='URN', how='left')
             .merge(academy_ar, left_on='Academy UPIN', right_index=True, how='left')
             .merge(trust_agg, left_on='Academy Trust UPIN', right_index=True, how='left'))
            

academies['Type of Provision - Phase'] = academies.apply(lambda df: mappings.map_academy_phase_type(df['TypeOfEstablishment (code)'], df['Type of Provision - Phase']), axis=1)

# Bizarre I shouldn't need this as this is coming from the original GIAS dataset, but I seem to have to do this twice. 
academies['NurseryProvision (name)'] = academies['NurseryProvision (name)'].fillna('')
academies['NurseryProvision (name)'] = academies.apply(lambda df: mappings.map_nursery(df['NurseryProvision (name)'], df['Type of Provision - Phase']), axis=1)

academies['Status'] = academies.apply(lambda df: mappings.map_academy_status(pd.to_datetime(df['Date left or closed if in period']), 
                                                                             pd.to_datetime(df['Valid to']), 
                                                                             pd.to_datetime(df['OpenDate']), 
                                                                             pd.to_datetime(df['CloseDate']), 
                                                                             pd.to_datetime(accounts_return_period_start_date), pd.to_datetime(academy_year_start_date), pd.to_datetime(academy_year_end_date)), axis=1)

academies['SchoolPhaseType'] = academies.apply(lambda df: mappings.map_school_phase_type(df['TypeOfEstablishment (code)'], df['Type of Provision - Phase']), axis=1)

academies.rename(columns={
    'UKPRN_x':'UKPRN',
    'Number of Pupils': 'Number of pupils',
    '% of pupils known to be eligible for free school meals (Performa': 'Percentage Free school meals'
}, inplace=True)

In [19]:
academies.to_csv('output/pre-processing/academies.csv')
academies.sort_index()

,Company Registration Number,Incorporation Date,Academy Trust UPIN,Academy UKPRN,Academy Trust Name,Academy Name,Academy UPIN,Trust Type,Date Opened,LA Name,...,Premises_Premises staff,Teaching and Teaching support staff_Agency supply teaching staff,Teaching and Teaching support staff_Education support staff,Teaching and Teaching support staff_Educational consultancy,Teaching and Teaching support staff_Supply teaching staff,Teaching and Teaching support staff_Teaching staff,Utilities_Energy,Utilities_Water and sewerage,Status,SchoolPhaseType
URN,,,,,,,,,,,,,,,,,,,,,
101849,02369239,1989-04-06 00:00:00.0000000,134879,10058152,The BRIT School Limited,BRIT School for Performing Arts and Technology,118384,Single Academy Trust (SAT),1991-10-22 00:00:00.0000000,Croydon London Borough Council,...,253.0,519.0,1329.0,23.0,13.0,5198.0,265.0,6.0,Open,Secondary
105135,05210075,2004-08-19 00:00:00.0000000,135025,10058185,St Paul's Academy,St Paul's Academy - Greenwich,119110,Single Academy Trust (SAT),2005-09-01 00:00:00.0000000,Greenwich London Borough Council,...,355.0,21.0,929.0,163.0,0.0,5652.0,61.0,24.0,Open,Secondary
108420,04464331,2002-06-19 00:00:00.0000000,139672,10064192,Emmanuel Schools Foundation,Emmanuel College - Gateshead,118390,Multi Academy Trust (MAT),1991-04-05 00:00:00.0000000,Gateshead Council,...,1618.0,683.0,4833.0,225.0,23.0,30032.0,1266.0,149.0,Open,Secondary
123627,02414699,1989-08-18 00:00:00.0000000,134882,10058155,Telford City Technology College Trust Limited,Thomas Telford School,118401,Single Academy Trust (SAT),1992-02-07 00:00:00.0000000,Telford and Wrekin Council,...,0.0,0.0,7.0,3.0,0.0,6380.0,0.0,0.0,Open,Secondary
129342,07525820,2011-02-10 00:00:00.0000000,135906,10058513,Tove Learning Trust,Grace Academy Solihull,118615,Multi Academy Trust (MAT),2006-09-01 00:00:00.0000000,Solihull Metropolitan Borough Council,...,7469.0,1276.0,16706.0,1379.0,278.0,107710.0,5776.0,1096.0,Open,Secondary
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149222,07668923,2011-06-14 00:00:00.0000000,135225,10058887,Coast Academies,Cockington Primary School,163969,Multi Academy Trust (MAT),2013-09-01 00:00:00.0000000,Torbay Council,...,1225.0,0.0,21952.0,0.0,3120.0,39336.0,848.0,448.0,Closed in period,Primary
149222,10192252,2016-05-20 00:00:00.0000000,139657,10064173,Connect Academy Trust,Cockington Primary School,163969,Multi Academy Trust (MAT),2013-09-01 00:00:00.0000000,Torbay Council,...,487.0,1102.0,9994.0,166.0,83.0,17784.0,47.0,117.0,(Re)opened in period,Primary
149299,09066969,2014-06-02 00:00:00.0000000,135834,10060816,Blessed Christopher Wharton Catholic Academy T...,"The Holy Family Catholic School, a Voluntary A...",162962,Multi Academy Trust (MAT),2022-08-01 00:00:00.0000000,Bradford Metropolitan District Council,...,701.0,441.0,4073.0,170.0,448.0,10177.0,361.0,81.0,(Re)opened in period,Secondary
149396,10151730,2016-04-27 00:00:00.0000000,139729,10064245,Reach South Academy Trust,Peak Academy,164084,Multi Academy Trust (MAT),2012-09-01 00:00:00.0000000,Gloucestershire County Council,...,1195.0,899.0,10587.0,0.0,0.0,13759.0,568.0,117.0,(Re)opened in period,Special
149396,08075785,2012-05-18 00:00:00.0000000,138199,10048061,The White Horse Federation,Peak Academy,164084,Multi Academy Trust (MAT),2012-09-01 00:00:00.0000000,Gloucestershire County Council,...,4060.0,4204.0,22596.0,0.0,0.0,49015.0,1626.0,341.0,Closed in period,Special

Merge required census and cdc data to the maintained schools data set

In [20]:
# Load raw list from CSV
maintained_schools_list = pd.read_csv('data/maintained_schools_raw.csv', encoding='utf8', index_col=schemas.maintained_schools_master_list_index_col, usecols=schemas.maintained_schools_master_list.keys(), dtype=schemas.maintained_schools_master_list)

In [21]:
# Merge maintained_schools_base with schools (metadata from GIAS) & rename PFI column
maintained_schools = maintained_schools_list.merge(schools.reset_index(), left_index=True, right_on='URN')

In [22]:
# Merge in census and cdc data
maintained_schools = (maintained_schools
                      .merge(sen, on='URN', how='left')
                      .merge(census, on='URN', how='left')
                      .merge(cdc, on='URN', how='left'))

In [23]:
# Compute columns
maintained_schools['PFI'] = maintained_schools['PFI'].map(lambda x: 'PFI school' if x == 'Y' else 'Non-PFI school')
maintained_schools['Status'] = maintained_schools.apply(lambda df: mappings.map_maintained_school_status(df['OpenDate'], df['CloseDate'], df['Period covered by return (months)'], pd.to_datetime(maintained_schools_year_start_date), pd.to_datetime(maintained_schools_year_end_date)), axis=1)
maintained_schools['School Balance'] = maintained_schools['Total Income   I01 to I18'] - maintained_schools['Total Expenditure  E01 to E32']
maintained_schools['School Financial Position'] = maintained_schools['School Balance'].map(mappings.map_is_surplus_deficit)
maintained_schools['SchoolPhaseType'] = maintained_schools.apply(lambda df: mappings.map_school_phase_type(df['TypeOfEstablishment (code)'], df['Overall Phase']), axis=1)
maintained_schools['Partial Years Present'] = maintained_schools['Period covered by return (months)'].map(lambda x: x != 12)
maintained_schools['Did Not Submit'] = maintained_schools['Did Not Supply flag'].map(lambda x: x == 1)

In [24]:
# Compute Columns - Will
maintained_schools.columns.values

array(['LAEstab', 'Phase', 'Overall Phase', 'Lowest age of pupils',
       'Highest age of pupils', 'Type', 'No Pupils',
       '% of pupils eligible for FSM',
       'Period covered by return (months)', 'Did Not Supply flag',
       'Federation', 'Lead school in federation', 'No Teachers',
       'Urban  Rural', 'London Weighting', '% of pupils with EAL',
       '% of pupils who are Boarders', 'PFI', 'No of pupils in 6th form',
       '% of teachers with QTS', 'FTE of Teaching Assistants',
       'FTE of Support Staff', 'FTE of Admin Staff',
       'I01  Funds delegated by the LA',
       'I02  Funding for 6th form students', 'I03  SEN funding',
       'I04  Funding for minority ethnic pupils', 'I05  Pupil Premium',
       'I06  Other government grants', 'I07  Other grants and payments',
       'I08  Income from facilities and services',
       'I09  Income from catering',
       'I10  Receipts from supply teacher insurance claims',
       'I11  Receipts from other insurance claims',
       'I12  Income from contributions to visits etc ',
       'I13  Donations and or private funds',
       'I15  Pupil focussed extended school funding and   or grants',
       'I16  Community focussed school funding and   or grants',
       'I17  Community focused school facilities income',
       'I18  Additional grant for schools',
       'Total Income   I01 to I08, I11 to I15, I18',
       'Total Income   I01 to I18', 'E01  Teaching Staff',
       'E02  Supply teaching staff', 'E03 Education support staff',
       'E04  Premises staff', 'E05 Administrative and clerical staff',
       'E06 Catering staff', 'E07  Cost of other staff',
       'E08  Indirect employee expenses', 'E09  Development and training',
       'E10  Supply teacher insurance', 'E11  Staff related insurance',
       'E12  Building maintenance and improvement',
       'E13  Grounds maintenance and improvement',
       'E14  Cleaning and caretaking', 'E15  Water and sewerage',
       'E16  Energy', 'E17  Rates', 'E18  Other occupation costs',
       'E19  Learning resources (not ICT equipment)',
       'E20  ICT learning resources', 'E21  Exam fees',
       'E22 Administrative supplies', 'E23  Other insurance premiums',
       'E24  Special facilities ', 'E25  Catering supplies',
       'E26 Agency supply teaching staff',
       'E27  Bought in professional services - curriculum',
       'E28a  Bought in professional services - other (except PFI)',
       'E28b Bought in professional services - other (PFI)',
       'E29  Loan interest',
       'E30 Direct revenue financing (revenue contributions to capital)',
       'E31  Community focused school staff',
       'E32 Community focused school costs',
       'Total Expenditure  E01 to E29 and E31 to E32 minus I9, I10, I16 and I17',
       'Total Expenditure  E01 to E32',
       'Revenue Reserve   B01 plus B02 plus B06',
       'In-year Balance   Total Income (I01 to I18) minus Total Expenditure (E01 to E32)',
       'URN', 'LA (code)', 'LA (name)', 'EstablishmentNumber',
       'EstablishmentName', 'TypeOfEstablishment (code)',
       'TypeOfEstablishment (name)', 'EstablishmentStatus (code)',
       'EstablishmentStatus (name)', 'OpenDate', 'CloseDate',
       'PhaseOfEducation (code)', 'PhaseOfEducation (name)',
       'Boarders (code)', 'Boarders (name)', 'NurseryProvision (name)',
       'OfficialSixthForm (code)', 'OfficialSixthForm (name)',
       'Gender (code)', 'Gender (name)', 'AdmissionsPolicy (code)',
       'AdmissionsPolicy (name)', 'SchoolCapacity', 'CensusDate',
       'NumberOfPupils', 'NumberOfBoys', 'NumberOfGirls', 'UKPRN',
       'OfstedLastInsp', 'LastChangedDate', 'Postcode', 'SchoolWebsite',
       'TelephoneNum', 'HeadTitle (name)', 'HeadFirstName',
       'HeadLastName', 'HeadPreferredJobTitle', 'GOR (name)',
       'UrbanRural (name)', 'BoardingEstablishment (name)',
       'PreviousLA (code)', 'PreviousLA (name)',
       'PreviousEstablishmentNumber', 'OfstedRating (name)',
       'MSOA (code)', 'LSOA (code)', 'LA Establishment Number',
       'HeadName', 'Total pupils', 'EHC plan', 'Percentage SEN',
       'Primary Need SPLD', 'Primary Need MLD', 'Primary Need SLD',
       'Primary Need PMLD', 'Primary Need SEMH', 'Primary Need SLCN',
       'Primary Need HI', 'Primary Need VI', 'Primary Need MSI',
       'Primary Need PD', 'Primary Need ASD', 'Primary Need OTH',
       'Prov_SPLD', 'Prov_MLD', 'Prov_SLD', 'Prov_PMLD', 'Prov_SEMH',
       'Prov_SLCN', 'Prov_HI', 'Prov_VI', 'Prov_MSI', 'Prov_PD',
       'Prov_ASD', 'Prov_OTH',
       '% of pupils known to be eligible for and claiming free school me',
       '% of pupils known to be eligible for free school meals (Performa',
       'number of pupils whose first language is known or believed to be other than English',
       'Statutory Low Age', 'Total School Workforce (Headcount)',
       'Total Number of Teachers in the Leadership Group (Headcount)',
       'Total Number of Teachers (Headcount)',
       'Total Number of Teaching Assistants (Headcount)',
       'FullTimeOtherHeadCount',
       'Total Number of Auxiliary Staff (Headcount)',
       'Total School Workforce (Full-Time Equivalent)',
       'Total Number of Teachers in the Leadership Group (Full-time Equivalent)',
       'Total Number of Teachers (Full-Time Equivalent)',
       'Total Number of Teaching Assistants (Full-Time Equivalent)',
       'FullTimeOther',
       'Total Number of Auxiliary Staff (Full-Time Equivalent)',
       'Pupil: Teacher Ratio (Full-Time Equivalent of qualified and unqualified teachers)',
       'Teachers with Qualified Teacher Status (%) (Headcount)',
       'Number of Vacant Teacher Posts', 'Total Internal Floor Area',
       'Age Average Score', 'Status', 'School Balance',
       'School Financial Position', 'SchoolPhaseType',
       'Partial Years Present', 'Did Not Submit'], dtype=object)

In [25]:
# Rename columns
maintained_schools.rename(columns={
    'E22 Administrative supplies':'Administrative supplies_Administrative supplies (non educational)',
    'E06 Catering staff':'Catering_Catering staff',
    'E25  Catering supplies':'Catering_Catering supplies',
    'I09  Income from catering':'Catering_Income from catering',
    'E21  Exam fees':'Educational supplies_Examination fees',
    'E19  Learning resources (not ICT equipment)':'Educational supplies_Learning resources (not ICT equipment)',
    'E20  ICT learning resources':'IT_ICT learning resources',
    'E05 Administrative and clerical staff':'Non-educational support staff_Administrative and clerical staff',
    # '':'Non-educational support staff_Auditor costs',
    'E07  Cost of other staff':'Non-educational support staff_Other staff',
    'E28a  Bought in professional services - other (except PFI)':'Non-educational support staff_Professional services (non-curriculum)',
    'E30 Direct revenue financing (revenue contributions to capital)':'Other costs_Direct revenue financing',
    'E13  Grounds maintenance and improvement':'Other costs_Grounds maintenance',
    'E08  Indirect employee expenses':'Other costs_Indirect employee expenses',
    'E29  Loan interest':'Other costs_Interest charges for loan and bank',
    'E23  Other insurance premiums':'Other costs_Other insurance premiums',
    'E28b Bought in professional services - other (PFI)':'Other costs_PFI charges',
    'E17  Rates':'Other costs_Rent and rates',
    'E24  Special facilities ':'Other costs_Special facilities',
    'E09  Development and training':'Other costs_Staff development and training',
    'E11  Staff related insurance':'Other costs_Staff-related insurance',
    'E10  Supply teacher insurance':'Other costs_Supply teacher insurance',
    'E14  Cleaning and caretaking':'Premises_Cleaning and caretaking',
    'E12  Building maintenance and improvement':'Premises_Maintenance of premises',
    'E18  Other occupation costs':'Premises_Other occupation costs',
    'E04  Premises staff':'Premises_Premises staff',
    'E26 Agency supply teaching staff':'Teaching and Teaching support staff_Agency supply teaching staff',
    'E03 Education support staff':'Teaching and Teaching support staff_Education support staff',
    'E27  Bought in professional services - curriculum':'Teaching and Teaching support staff_Educational consultancy',
    'E02  Supply teaching staff':'Teaching and Teaching support staff_Supply teaching staff',
    'E01  Teaching Staff':'Teaching and Teaching support staff_Teaching staff',
    'E16  Energy':'Utilities_Energy',
    'E15  Water and sewerage':'Utilities_Water and sewerage: ',
    'PFI': 'PFI School',
    '% of pupils eligible for FSM': 'Percentage Free school meals',
    'No Pupils': 'Number of pupils',
    'I07  Other grants and payments': 'Other grants and payments'
}, inplace=True)

In [26]:
maintained_schools.set_index('URN', inplace=True)

In [27]:
maintained_schools

,LAEstab,Phase,Overall Phase,Lowest age of pupils,Highest age of pupils,Type,Number of pupils,Percentage Free school meals,Period covered by return (months),Did Not Supply flag,...,Teachers with Qualified Teacher Status (%) (Headcount),Number of Vacant Teacher Posts,Total Internal Floor Area,Age Average Score,Status,School Balance,School Financial Position,SchoolPhaseType,Partial Years Present,Did Not Submit
URN,,,,,,,,,,,,,,,,,,,,,
100000,2013614,Infant and junior,Primary,3.0,11.0,Voluntary aided school,271.0,18.1,12,0,...,80.000000,0,3628.0,142.0,Open,-103843.66,Deficit,Primary,False,False
100005,2021048,Nursery,Nursery,2.0,5.0,Local authority nursery school,107.5,38.2,12,0,...,100.000000,0,NaN,<NA>,Open,-159542.44,Deficit,Nursery,False,False
100006,2021100,Pupil referral unit,Pupil referral unit,11.0,16.0,Pupil referral unit,49.0,68.4,12,0,...,100.000000,1,1523.0,59.797111,Open,488879.73,Surplus,Pupil referral unit,False,False
100007,2021101,Pupil referral unit,Pupil referral unit,5.0,11.0,Pupil referral unit,19.0,100.0,12,0,...,94.444444,0,NaN,<NA>,Open,-70514.23,Deficit,Pupil referral unit,False,False
100008,2022019,Infant and junior,Primary,3.0,11.0,Community school,350.0,55.1,12,0,...,100.000000,0,2951.0,117.0,Open,-116875.63,Deficit,Primary,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131818,3412230,Infant and junior,Primary,3.0,11.0,Community school,417.0,52.0,12,0,...,100.000000,0,2819.0,56.148634,Open,-121353.13,Deficit,Primary,False,False
132176,3412232,Infant and junior,Primary,3.0,11.0,Voluntary aided school,278.0,45.9,12,0,...,100.000000,2,2872.0,27.0,Open,89141.77,Surplus,Primary,False,False
132793,3412233,Infant and junior,Primary,4.0,11.0,Voluntary aided school,411.0,28.2,12,0,...,100.000000,0,1639.0,117.0,Open,-92369.69,Deficit,Primary,False,False
132796,3412234,Infant and junior,Primary,2.0,11.0,Voluntary aided school,473.0,29.6,12,0,...,100.000000,0,2736.0,17.0,Open,-161742.84,Deficit,Primary,False,False
133332,3412235,Infant and junior,Primary,3.0,11.0,Community school,414.5,30.2,12,0,...,100.000000,0,2959.0,16.793849,Open,18767.18,Surplus,Primary,False,False

In [28]:
maintained_schools.to_csv('output/pre-processing/maintained_schools.csv')

## Federation Capture

In [29]:
group_links = pd.read_csv('data/alllinksdata20240417.csv', encoding='unicode-escape',  index_col=schemas.groups_index_col, usecols=schemas.groups.keys(), dtype=schemas.groups)

In [30]:
# filter lead schools out of the maintained schools list
federations = maintained_schools[['LAEstab']][maintained_schools['Federation']=='Lead school'].copy()
# join 
federations = federations.join(group_links[['Group Name','Group UID','Closed Date']])


# remove federations with an associated closed date
federations = federations.loc[federations['Closed Date'].isna()]

# federations with a UID listed in the GIAS groups data are referred to as "Hard" federations
# while federations not listed in GIAS are referred to as "Soft" federations.
# Soft federation UIDs are a combination of their URN and LAEstab codes.

# create mask for soft federations
mask = federations['Group UID'].isna()

hard_federations = federations.loc[~mask].copy()
soft_federations = federations.loc[mask].copy()

# define members list for hard federations
group_links['Members'] = group_links.index
hard_members = group_links[['Members','Group UID']].groupby('Group UID').agg(list)

hard_federations = hard_federations.join(hard_members, on='Group UID')

# Rename columns
hard_federations.rename(columns={
    'Group Name': 'FederationName',
    'Group UID': 'FederationUid',
}, inplace=True)

# for the soft federations
soft_federations['FederationUid'] = soft_federations.index.astype(str) + soft_federations['LAEstab'].astype(str)

# Rename columns
soft_federations.rename(columns={
    'Group Name': 'FederationName',
    'Group UID': 'FederationUid',
}, inplace=True)

# TODO - add in soft federation members and names (currently no mapping available)

In [31]:
hard_federations.to_csv('output/pre-processing/hard_federations.csv')
hard_federations

,LAEstab,FederationName,FederationUid,Closed Date,Members
URN,,,,,
101997,3082040,The Hazel Wood Federation,1792,<NA>,"[101996, 101997]"
109923,8692231,Parsons Down Partnership of Schools,1616,<NA>,"[109875, 109923]"
109932,8692240,The Calcot Schools,1408,<NA>,"[109931, 109932]"
113223,8782446,South Hams Federation,1302,<NA>,"[113207, 113223, 113335, 113399]"
118442,8872439,The Bluebell Federation,1227,<NA>,"[118442, 118477]"
...,...,...,...,...,...
121616,8153331,FST Primary Schools Federation,17673,<NA>,"[121324, 121492, 121616]"
121602,8153289,BAWB Federation,16142,<NA>,"[121477, 121482, 121602]"
121608,8153306,The Carlton & Faceby and Bilsdale Church of En...,1696,<NA>,"[121480, 121608]"
102575,3142025,The Federation of Tolworth Infant and Nursery ...,1929,<NA>,"[102574, 102575]"
108911,8012003,Ashley Down Schools Federation,15855,<NA>,"[108910, 108911]"

In [32]:
soft_federations.to_csv('output/pre-processing/soft_federations.csv')
soft_federations

        LAEstab FederationName FederationUid Closed Date  FederationUid
URN
111246  8965204           <NA>          <NA>        <NA>  1112468965204
118423  8872403           <NA>          <NA>        <NA>  1184238872403
118472  8872494           <NA>          <NA>        <NA>  1184728872494
124531  9352002           <NA>          <NA>        <NA>  1245319352002
109964  8693026           <NA>          <NA>        <NA>  1099648693026
131182  9381110           <NA>          <NA>        <NA>  1311829381110
117740  8132122           <NA>          <NA>        <NA>  1177408132122
109417  8221009           <NA>          <NA>        <NA>  1094178221009
105861  3547006           <NA>          <NA>        <NA>  1058613547006
121344  8152189           <NA>          <NA>        <NA>  1213448152189
100391  2061104           <NA>          <NA>        <NA>  1003912061104
124249  8603051           <NA>          <NA>        <NA>  1242498603051
121526  8153130           <NA>          <NA>        <NA>  1215268153130
100472  2071010           <NA>          <NA>        <NA>  1004722071010
121556  8153233           <NA>          <NA>        <NA>  1215568153233
121103  9263146           <NA>          <NA>        <NA>  1211039263146
120937  9262300           <NA>          <NA>        <NA>  1209379262300
120896  9262240           <NA>          <NA>        <NA>  1208969262240
121061  9263084           <NA>          <NA>        <NA>  1210619263084
121145  9263404           <NA>          <NA>        <NA>  1211459263404
121146  9263405           <NA>          <NA>        <NA>  1211469263405
117386  9193006           <NA>          <NA>        <NA>  1173869193006
119505  8893471           <NA>          <NA>        <NA>  1195058893471
113172  8782249           <NA>          <NA>        <NA>  1131728782249
109864  8692131           <NA>          <NA>        <NA>  1098648692131
108960  8012073           <NA>          <NA>        <NA>  1089608012073

## KS2 and KS4 performance

In [33]:
ks2 = pd.read_excel('data/2022-2023_england_ks2revised.xlsx',usecols=schemas.ks2.keys())

FileNotFoundError: [Errno 2] No such file or directory: 'data/2022-2023_england_ks2revised.xlsx'

In [ ]:
# ks2 mappings
ks2['READPROG'] = ks2['READPROG'].replace({
                                        'SUPP':0,
                                        'LOWCOV':0})
ks2['MATPROG']=ks2['MATPROG'].replace({
                                        'SUPP':0,
                                        'LOWCOV':0})
ks2['WRITPROG']=ks2['WRITPROG'].replace({
                                        'SUPP':0,
                                        'LOWCOV':0})

ks2['Ks2Progress'] = ks2['READPROG'].astype(float) + ks2['MATPROG'].astype(float)+ks2['WRITPROG'].astype(float)


#ks2 = ks2[['URN','LAEstab','Ks2Progress']].copy()

In [ ]:
ks2[ks2['LEA']=='u']

In [ ]:
ks2.to_csv('output/ks2.csv')
ks2

In [ ]:
ks4 = pd.read_excel('data/2022-2023_england_ks4revised.xlsx')

In [ ]:
#ks4 mappings

ks4['LAEstab'] = ks4['LEA'].astype(str) + ks4['ESTAB'].astype(str)

ks4.rename(columns={
    'ATT8SCR':'AverageAttainment',
    'P8MEA':'Progress8Measure',
    'P8_BANDING':'Progress8Banding'
})

ks4 = ks4[['URN','LAEstab','AverageAttainment','Progress8Measure','Progress8Banding']].copy()

In [ ]:
ks4.to_csv('output/ks4.csv')
ks4

### Timing Keep at the bottom

In [ ]:
print(f'Processing Time: {time.time() - start_time} seconds')