In [2]:

import pandas as pd

df1 = pd.DataFrame([
    { "URN" : 1, "LinkUrn" : pd.NA },
    { "URN" : 2, "LinkUrn" : pd.NA },
    { "URN" : 3, "LinkUrn" : 4 },
    { "URN" : 5, "LinkUrn" : pd.NA }
]).set_index("URN")

df1

    LinkUrn
URN
1      <NA>
2      <NA>
3         4
5      <NA>

In [27]:
df2 = pd.DataFrame([
    { "URN" : 1, "Name": "Should be 1" },
    { "URN" : 2, "Name": "Should be 2" },
    { "URN" : 4, "Name": "Should be 3" },
    { "URN" : 3, "Name": "Should be 3 1" },
    { "URN" : 5, "Name": "Should be 5" }
]).set_index("URN")

df2

              Name
URN
1      Should be 1
2      Should be 2
4      Should be 3
3    Should be 3 1
5      Should be 5

In [28]:
pd.concat([df1.reset_index().merge(df2, on="URN", how="left"),
           df1.reset_index().merge(df2, left_on='LinkUrn', right_on='URN')]).set_index("URN")

    LinkUrn           Name
URN
1      <NA>    Should be 1
2      <NA>    Should be 2
3         4  Should be 3 1
5      <NA>    Should be 5
3         4    Should be 3

In [69]:
import schemas as schema

raw_cdc = pd.read_csv('data/standing_data_cdc.csv', encoding='utf8', low_memory=False).dtypes.reset_index()
raw_cdc['Data Source'] = 'RAW_CDC'

raw_school_workforce_census = pd.read_excel('data/School_Tables_School_Workforce_Census_2022.xlsx', header=5).dtypes.reset_index()
raw_school_workforce_census['Data Source'] = 'RAW_School_Workforce'

raw_pupils_census = pd.read_csv('data/standing_data_census_pupils.csv', encoding='utf8', low_memory=False).dtypes.reset_index()
raw_pupils_census['Data Source'] = 'RAW_Pupils_Census'

raw_sen = pd.read_csv('data/SEN.csv', encoding='utf8', low_memory=False).dtypes.reset_index()
raw_sen['Data Source'] = 'RAW_Sen'

raw_gias = pd.read_csv('data/edubasealldata20240312.csv', encoding='cp1252', low_memory=False).dtypes.reset_index()
raw_gias['Data Source'] = 'RAW_Gias'

raw_academies_list = pd.read_csv('data/master_list_raw.csv', encoding='utf8', low_memory=False).dtypes.reset_index()
raw_academies_list['Data Source'] = 'RAW_academies_master_list'

raw_maintained_schools_list = pd.read_csv('data/maintained_schools_raw.csv', encoding='utf8', low_memory=False).dtypes.reset_index()
raw_maintained_schools_list['Data Source'] = 'RAW_maintained_schools_list'

raw_ar_cells = pd.read_csv('data/AR_cell_mapping.csv', encoding='utf8', low_memory=False)
raw_ar_cells['Data Source'] = 'RAW_AR_Cell'
raw_ar_cells['index'] = raw_ar_cells.apply(lambda d: d['cell'] + ':' + d['Metric'], axis=1)

In [72]:
raw_schemas = pd.concat([
    raw_sen[['index','Data Source']],
    raw_school_workforce_census[['index','Data Source']],
    raw_pupils_census[['index','Data Source']],
    raw_cdc[['index','Data Source']],
    raw_gias[['index','Data Source']],
    raw_academies_list[['index','Data Source']],
    raw_maintained_schools_list[['index','Data Source']],
    raw_ar_cells[['index','Data Source']]
]).rename(columns={'index':'Attribute'}).reset_index()[['Data Source','Attribute']]

raw_schemas['Attribute Path'] = raw_schemas.apply(lambda d: d['Data Source'] + ':' + d['Attribute'], axis=1)

raw_schemas

,Data Source,Attribute,Attribute Path
0,RAW_Sen,time_period,RAW_Sen:time_period
1,RAW_Sen,time_identifier,RAW_Sen:time_identifier
2,RAW_Sen,geographic_level,RAW_Sen:geographic_level
3,RAW_Sen,country_code,RAW_Sen:country_code
4,RAW_Sen,country_name,RAW_Sen:country_name
...,...,...,...
749,RAW_AR_Cell,BTE300:Professional services (non-curriculum),RAW_AR_Cell:BTE300:Professional services (non-...
750,RAW_AR_Cell,BTE310:PFI charges,RAW_AR_Cell:BTE310:PFI charges
751,RAW_AR_Cell,BTE320:Interest charges for loan and bank,RAW_AR_Cell:BTE320:Interest charges for loan a...
752,RAW_AR_Cell,BAB030-T:Closing balance (Restricted and Unres...,RAW_AR_Cell:BAB030-T:Closing balance (Restrict...
753,RAW_AR_Cell,BTB030:Closing balance (Restricted and Unrestr...,RAW_AR_Cell:BTB030:Closing balance (Restricted...

In [42]:
pp_academies = pd.read_csv('output/pre-processing/academies.csv', encoding='utf8', low_memory=False).dtypes.reset_index()
pp_academies['Data Source'] = 'PreProcessed_Academies'

pp_cdc = pd.read_csv('output/pre-processing/cdc.csv', encoding='utf8', low_memory=False).dtypes.reset_index()
pp_cdc['Data Source'] = 'PreProcessed_CDC'

pp_census = pd.read_csv('output/pre-processing/census.csv', encoding='utf8', low_memory=False).dtypes.reset_index()
pp_census['Data Source'] = 'PreProcessed_Census'

pp_maintained_schools = pd.read_csv('output/pre-processing/maintained_schools.csv', encoding='utf8', low_memory=False).dtypes.reset_index()
pp_maintained_schools['Data Source'] = 'PreProcessed_Maintained_Schools'

pp_schools = pd.read_csv('output/pre-processing/schools.csv', encoding='utf8', low_memory=False).dtypes.reset_index()
pp_schools['Data Source'] = 'PreProcessed_Schools'

pp_sen = pd.read_csv('output/pre-processing/sen.csv', encoding='utf8', low_memory=False).dtypes.reset_index()
pp_sen['Data Source'] = 'PreProcessed_SEN'

In [45]:
pp_schemas = pd.concat([
    pp_academies[['index','Data Source']],
    pp_cdc[['index','Data Source']],
    pp_census[['index','Data Source']],
    pp_maintained_schools[['index','Data Source']],
    pp_schools[['index','Data Source']],
    pp_sen[['index','Data Source']]
]).rename(columns={'index':'Attribute'}).reset_index()[['Data Source','Attribute']]

pp_schemas['Attribute Path'] = pp_schemas.apply(lambda d: d['Data Source'] + ':' + d['Attribute'], axis=1)
pp_schemas

,Data Source,Attribute,Attribute Path
0,PreProcessed_Academies,URN,PreProcessed_Academies:URN
1,PreProcessed_Academies,Company Registration Number,PreProcessed_Academies:Company Registration Nu...
2,PreProcessed_Academies,Incorporation Date,PreProcessed_Academies:Incorporation Date
3,PreProcessed_Academies,Academy Trust UPIN,PreProcessed_Academies:Academy Trust UPIN
4,PreProcessed_Academies,Academy UKPRN,PreProcessed_Academies:Academy UKPRN
...,...,...,...
351,PreProcessed_SEN,SUP_Primary_need_pd,PreProcessed_SEN:SUP_Primary_need_pd
352,PreProcessed_SEN,SUP_Primary_need_asd,PreProcessed_SEN:SUP_Primary_need_asd
353,PreProcessed_SEN,SUP_Primary_need_oth,PreProcessed_SEN:SUP_Primary_need_oth
354,PreProcessed_SEN,SUP_Primary_need_nsa,PreProcessed_SEN:SUP_Primary_need_nsa
355,PreProcessed_SEN,Percentage SEN,PreProcessed_SEN:Percentage SEN