In [15]:
import pandas as pd

df1 = pd.DataFrame([
    { "URN" : 1, "LinkUrn" : pd.NA },
    { "URN" : 2, "LinkUrn" : pd.NA },
    { "URN" : 3, "LinkUrn" : 4 },
    { "URN" : 5, "LinkUrn" : pd.NA }
]).set_index("URN")

df1

    LinkUrn
URN
1      <NA>
2      <NA>
3         4
5      <NA>

In [27]:
df2 = pd.DataFrame([
    { "URN" : 1, "Name": "Should be 1" },
    { "URN" : 2, "Name": "Should be 2" },
    { "URN" : 4, "Name": "Should be 3" },
    { "URN" : 3, "Name": "Should be 3 1" },
    { "URN" : 5, "Name": "Should be 5" }
]).set_index("URN")

df2

              Name
URN
1      Should be 1
2      Should be 2
4      Should be 3
3    Should be 3 1
5      Should be 5

In [28]:
pd.concat([df1.reset_index().merge(df2, on="URN", how="left"),
           df1.reset_index().merge(df2, left_on='LinkUrn', right_on='URN')]).set_index("URN")

    LinkUrn           Name
URN
1      <NA>    Should be 1
2      <NA>    Should be 2
3         4  Should be 3 1
5      <NA>    Should be 5
3         4    Should be 3