In [1]:
%load_ext line_profiler

from pathlib import Path
import sys

import numpy as np

# Get my_package directory path from Notebook
parent_dir = str(Path().resolve().parents[0])
print(parent_dir)
# Add to sys.path

path_set = set(sys.path)
if parent_dir not in path_set:
    sys.path.insert(0, parent_dir)

print(sys.path)

/Users/colinbull/appdev/dfe/sfb/education-benchmarking-and-insights/data-pipeline
['/Users/colinbull/appdev/dfe/sfb/education-benchmarking-and-insights/data-pipeline', '/opt/homebrew/Cellar/python@3.12/3.12.2_1/Frameworks/Python.framework/Versions/3.12/lib/python312.zip', '/opt/homebrew/Cellar/python@3.12/3.12.2_1/Frameworks/Python.framework/Versions/3.12/lib/python3.12', '/opt/homebrew/Cellar/python@3.12/3.12.2_1/Frameworks/Python.framework/Versions/3.12/lib/python3.12/lib-dynload', '', '/Users/colinbull/Library/Caches/pypoetry/virtualenvs/fbit-data-pipeline-aJYNke-B-py3.12/lib/python3.12/site-packages']

# Metric RAG

* median, decile, status (Red / Amber / Green), percentage
* All cost catgeories - cost per pupil
* Utilities and Premises and staff - per m^2

In [2]:
import pandas as pd
import src.pipeline.rag as rag
import glob 
import os
import logging
logging.basicConfig(format='%(asctime)s | %(levelname)s : %(message)s',
                     level=logging.INFO, stream=sys.stdout)

# Create and clean directory
from pathlib import Path
Path("output/metric-rag").mkdir(parents=True, exist_ok=True)

files = glob.glob("output/metric-rag/*")
for f in files:
    os.remove(f)

## Loading saved comparator sets

In [3]:
raw_data = pd.read_parquet('output/comparator-sets/academies.parquet')
raw_comparators = pd.read_parquet('output/comparator-sets/academy_comparators.parquet')

In [4]:
cols = raw_data.columns.isin(rag.base_cols) | raw_data.columns.str.endswith("_Per Unit")
raw_data[raw_data.columns[cols]]

,Number of pupils,OfstedRating (name),Percentage Free school meals,Percentage SEN,Total Internal Floor Area,Age Average Score,Teaching and Teaching support staff_Teaching staff_Per Unit,Teaching and Teaching support staff_Supply teaching staff_Per Unit,Teaching and Teaching support staff_Education support staff_Per Unit,Teaching and Teaching support staff_Educational consultancy_Per Unit,...,Other costs_Staff development and training_Per Unit,Other costs_Staff-related insurance_Per Unit,Other costs_Supply teacher insurance_Per Unit,Other costs_Rent and rates_Per Unit,Other costs_Special facilities_Per Unit,Other costs_Other insurance premiums_Per Unit,Other costs_Interest charges for loan and bank_Per Unit,Other costs_Direct revenue financing (revenue contributions to capital)_Per Unit,Other costs_PFI charges_Per Unit,Other costs_Total_Per Unit
URN,,,,,,,,,,,,,,,,,,,,,
101849,1419,Good,11.3,3.435934,27058.0,43.834208,3977.448908,0.704722,916.138125,23.960536,...,52.854123,0.0,0.0,55.673009,0.0,31.007752,195.912615,250.17618,0.0,587.737844
105135,1160,Requires improvement,29.4,2.500000,11352.0,16.7463,5134.482759,0.0,865.517241,156.034483,...,100.0,0.0,0.0,70.689655,0.0,23.275862,0.0,65.517241,0.0,259.482759
108420,1449,Outstanding,15.3,0.692521,15903.0,37.0,4222.222222,0.0,466.52864,0.690131,...,21.394065,0.0,0.0,34.506556,0.0,24.84472,0.0,91.097308,0.0,206.349206
123627,1567,Good,23.6,0.129450,28298.0,23.204891,4039.56605,0.0,672.622846,24.25016,...,41.480536,0.0,0.0,37.013401,0.0,31.269943,0.0,712.188896,0.0,841.097639
129342,904,Good,47.0,2.447164,17294.0,16.930612,3628.318584,0.0,808.628319,86.283186,...,7.743363,0.0,0.0,51.99115,3.318584,88.495575,0.0,0.0,0.0,254.424779
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149222,0,,39.8,3.455285,2850.0,50.042394,inf,NaN,inf,inf,...,inf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf
149222,0,,39.8,3.455285,2850.0,50.042394,inf,NaN,inf,inf,...,inf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf
149299,0,,31.4,3.944316,9429.0,41.71524,inf,NaN,inf,inf,...,NaN,NaN,NaN,inf,NaN,NaN,NaN,NaN,NaN,inf
149396,0,,61.7,100.000000,2850.0,50.042394,inf,inf,inf,NaN,...,inf,NaN,NaN,NaN,NaN,inf,NaN,inf,NaN,inf
149396,0,,61.7,100.000000,2850.0,50.042394,inf,inf,inf,NaN,...,inf,NaN,NaN,NaN,NaN,inf,NaN,inf,NaN,inf

In [5]:
comps = raw_comparators.loc[135665]["Pupil"]
series = raw_data[raw_data.index.isin(comps)]

(df, categories) = rag.get_category_cols_predicates("Teaching and Teaching support staff", series)
categories

array(['Teaching and Teaching support staff_Teaching staff_Per Unit',
       'Teaching and Teaching support staff_Supply teaching staff_Per Unit',
       'Teaching and Teaching support staff_Education support staff_Per Unit',
       'Teaching and Teaching support staff_Educational consultancy_Per Unit',
       'Teaching and Teaching support staff_Agency supply teching staff_Per Unit',
       'Teaching and Teaching support staff_Total_Per Unit'], dtype=object)

Compute the rag calculation for the cost categories given in the [Benchmarking cost categories doc](https://educationgovuk.sharepoint.com.mcas.ms/:w:/r/sites/DfEFinancialBenchmarking/_layouts/15/Doc.aspx?sourcedoc=%7B622FB0F9-7CB1-445A-8FFA-664F8857F036%7D&file=Benchmarking%20cost%20categories%20and%20sub-categories.docx&action=default&mobileredirect=true)

In [6]:
rs = rag.compute_rag(raw_data, raw_comparators)
pd.DataFrame(rs)

2024-05-18 16:46:03,275 | INFO : Completed 100 RAGs in 1.57 secs
2024-05-18 16:46:04,662 | INFO : Completed 200 RAGs in 1.39 secs
2024-05-18 16:46:06,027 | INFO : Completed 300 RAGs in 1.36 secs
2024-05-18 16:46:07,475 | INFO : Completed 400 RAGs in 1.45 secs
2024-05-18 16:46:08,845 | INFO : Completed 500 RAGs in 1.37 secs
2024-05-18 16:46:10,206 | INFO : Completed 600 RAGs in 1.36 secs
2024-05-18 16:46:11,570 | INFO : Completed 700 RAGs in 1.36 secs
2024-05-18 16:46:13,123 | INFO : Completed 800 RAGs in 1.55 secs
2024-05-18 16:46:14,488 | INFO : Completed 900 RAGs in 1.36 secs
2024-05-18 16:46:15,864 | INFO : Completed 1000 RAGs in 1.38 secs
2024-05-18 16:46:17,216 | INFO : Completed 1100 RAGs in 1.35 secs
2024-05-18 16:46:18,583 | INFO : Completed 1200 RAGs in 1.37 secs
2024-05-18 16:46:19,940 | INFO : Completed 1300 RAGs in 1.36 secs
2024-05-18 16:46:21,297 | INFO : Completed 1400 RAGs in 1.36 secs
2024-05-18 16:46:22,664 | INFO : Completed 1500 RAGs in 1.37 secs
2024-05-18 16:46:24,021 | INFO : Completed 1600 RAGs in 1.36 secs
2024-05-18 16:46:25,392 | INFO : Completed 1700 RAGs in 1.37 secs
2024-05-18 16:46:26,752 | INFO : Completed 1800 RAGs in 1.36 secs
2024-05-18 16:46:28,113 | INFO : Completed 1900 RAGs in 1.36 secs
2024-05-18 16:46:29,467 | INFO : Completed 2000 RAGs in 1.35 secs
2024-05-18 16:46:30,833 | INFO : Completed 2100 RAGs in 1.37 secs
2024-05-18 16:46:32,182 | INFO : Completed 2200 RAGs in 1.35 secs
2024-05-18 16:46:33,541 | INFO : Completed 2300 RAGs in 1.36 secs
2024-05-18 16:46:34,908 | INFO : Completed 2400 RAGs in 1.37 secs
2024-05-18 16:46:36,278 | INFO : Completed 2500 RAGs in 1.37 secs
2024-05-18 16:46:37,681 | INFO : Completed 2600 RAGs in 1.40 secs
2024-05-18 16:46:39,037 | INFO : Completed 2700 RAGs in 1.36 secs
2024-05-18 16:46:40,395 | INFO : Completed 2800 RAGs in 1.36 secs
2024-05-18 16:46:41,746 | INFO : Completed 2900 RAGs in 1.35 secs
2024-05-18 16:46:43,116 | INFO : Completed 3000 RAGs in 1.37 secs
2024-05-18 16:46:44,535 | INFO : Completed 3100 RAGs in 1.42 secs
2024-05-18 16:46:45,895 | INFO : Completed 3200 RAGs in 1.36 secs
2024-05-18 16:46:47,252 | INFO : Completed 3300 RAGs in 1.36 secs
2024-05-18 16:46:48,607 | INFO : Completed 3400 RAGs in 1.35 secs
2024-05-18 16:46:49,969 | INFO : Completed 3500 RAGs in 1.36 secs
2024-05-18 16:46:51,327 | INFO : Completed 3600 RAGs in 1.36 secs
2024-05-18 16:46:52,708 | INFO : Completed 3700 RAGs in 1.38 secs
2024-05-18 16:46:54,093 | INFO : Completed 3800 RAGs in 1.38 secs
2024-05-18 16:46:55,469 | INFO : Completed 3900 RAGs in 1.38 secs
2024-05-18 16:46:56,911 | INFO : Completed 4000 RAGs in 1.44 secs
2024-05-18 16:46:58,269 | INFO : Completed 4100 RAGs in 1.36 secs
2024-05-18 16:46:59,633 | INFO : Completed 4200 RAGs in 1.36 secs
2024-05-18 16:47:01,013 | INFO : Completed 4300 RAGs in 1.38 secs
2024-05-18 16:47:02,361 | INFO : Completed 4400 RAGs in 1.35 secs
2024-05-18 16:47:03,717 | INFO : Completed 4500 RAGs in 1.36 secs
2024-05-18 16:47:05,096 | INFO : Completed 4600 RAGs in 1.37 secs
2024-05-18 16:47:06,494 | INFO : Completed 4700 RAGs in 1.40 secs
2024-05-18 16:47:07,848 | INFO : Completed 4800 RAGs in 1.35 secs
2024-05-18 16:47:09,209 | INFO : Completed 4900 RAGs in 1.36 secs
2024-05-18 16:47:10,575 | INFO : Completed 5000 RAGs in 1.36 secs
2024-05-18 16:47:11,931 | INFO : Completed 5100 RAGs in 1.36 secs
2024-05-18 16:47:13,752 | INFO : Completed 5200 RAGs in 1.82 secs
2024-05-18 16:47:15,196 | INFO : Completed 5300 RAGs in 1.44 secs
2024-05-18 16:47:16,583 | INFO : Completed 5400 RAGs in 1.39 secs
2024-05-18 16:47:17,955 | INFO : Completed 5500 RAGs in 1.37 secs
2024-05-18 16:47:19,312 | INFO : Completed 5600 RAGs in 1.36 secs
2024-05-18 16:47:20,673 | INFO : Completed 5700 RAGs in 1.36 secs
2024-05-18 16:47:22,029 | INFO : Completed 5800 RAGs in 1.36 secs
2024-05-18 16:47:23,419 | INFO : Completed 5900 RAGs in 1.39 secs
2024-05-18 16:47:24,788 | INFO : Completed 6000 RAGs in 1.37 secs
2024-05-18 16:47:26,151 | INFO : Completed 6100 RAGs in 1.36 secs
2024-05-18 16:47:27,512 | INFO : Completed 6200 RAGs in 1.36 secs
2024-05-18 16:47:28,867 | INFO : Completed 6300 RAGs in 1.35 secs
2024-05-18 16:47:30,238 | INFO : Completed 6400 RAGs in 1.37 secs
2024-05-18 16:47:31,612 | INFO : Completed 6500 RAGs in 1.37 secs
2024-05-18 16:47:32,968 | INFO : Completed 6600 RAGs in 1.36 secs
2024-05-18 16:47:34,333 | INFO : Completed 6700 RAGs in 1.36 secs
2024-05-18 16:47:35,682 | INFO : Completed 6800 RAGs in 1.35 secs
2024-05-18 16:47:37,069 | INFO : Completed 6900 RAGs in 1.39 secs
2024-05-18 16:47:38,691 | INFO : Completed 7000 RAGs in 1.62 secs
2024-05-18 16:47:40,189 | INFO : Completed 7100 RAGs in 1.50 secs
2024-05-18 16:47:41,541 | INFO : Completed 7200 RAGs in 1.35 secs
2024-05-18 16:47:42,893 | INFO : Completed 7300 RAGs in 1.35 secs
2024-05-18 16:47:44,305 | INFO : Completed 7400 RAGs in 1.41 secs
2024-05-18 16:47:45,670 | INFO : Completed 7500 RAGs in 1.36 secs
2024-05-18 16:47:47,030 | INFO : Completed 7600 RAGs in 1.36 secs
2024-05-18 16:47:48,381 | INFO : Completed 7700 RAGs in 1.35 secs
2024-05-18 16:47:49,750 | INFO : Completed 7800 RAGs in 1.37 secs
2024-05-18 16:47:51,114 | INFO : Completed 7900 RAGs in 1.36 secs
2024-05-18 16:47:52,470 | INFO : Completed 8000 RAGs in 1.36 secs
2024-05-18 16:47:53,816 | INFO : Completed 8100 RAGs in 1.35 secs
2024-05-18 16:47:55,359 | INFO : Completed 8200 RAGs in 1.54 secs
2024-05-18 16:47:56,729 | INFO : Completed 8300 RAGs in 1.37 secs
2024-05-18 16:47:58,088 | INFO : Completed 8400 RAGs in 1.36 secs
2024-05-18 16:47:59,447 | INFO : Completed 8500 RAGs in 1.36 secs
2024-05-18 16:48:00,813 | INFO : Completed 8600 RAGs in 1.37 secs
2024-05-18 16:48:02,182 | INFO : Completed 8700 RAGs in 1.37 secs
2024-05-18 16:48:03,540 | INFO : Completed 8800 RAGs in 1.36 secs
2024-05-18 16:48:04,912 | INFO : Completed 8900 RAGs in 1.37 secs
2024-05-18 16:48:06,274 | INFO : Completed 9000 RAGs in 1.36 secs
2024-05-18 16:48:07,686 | INFO : Completed 9100 RAGs in 1.41 secs
2024-05-18 16:48:09,039 | INFO : Completed 9200 RAGs in 1.35 secs

--- Logging error ---
Traceback (most recent call last):
  File "/Users/colinbull/Library/Caches/pypoetry/virtualenvs/fbit-data-pipeline-aJYNke-B-py3.12/lib/python3.12/site-packages/pandas/core/indexes/base.py", line 3805, in get_loc
    return self._engine.get_loc(casted_key)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "index.pyx", line 167, in pandas._libs.index.IndexEngine.get_loc
  File "index.pyx", line 196, in pandas._libs.index.IndexEngine.get_loc
  File "pandas/_libs/hashtable_class_helper.pxi", line 2606, in pandas._libs.hashtable.Int64HashTable.get_item
  File "pandas/_libs/hashtable_class_helper.pxi", line 2630, in pandas._libs.hashtable.Int64HashTable.get_item
KeyError: 147756

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/Users/colinbull/appdev/dfe/sfb/education-benchmarking-and-insights/data-pipeline/src/pipeline/rag.py", line 192, in compute_rag
    pupil_urns = comparators["Pupil"][urn]
                 ~~~~~~~~~~~~~~~~~~~~^^^^^
  File "/Users/colinbull/Library/Caches/pypoetry/virtualenvs/fbit-data-pipeline-aJYNke-B-py3.12/lib/python3.12/site-packages/pandas/core/series.py", line 1121, in __getitem__
    return self._get_value(key)
           ^^^^^^^^^^^^^^^^^^^^
  File "/Users/colinbull/Library/Caches/pypoetry/virtualenvs/fbit-data-pipeline-aJYNke-B-py3.12/lib/python3.12/site-packages/pandas/core/series.py", line 1237, in _get_value
    loc = self.index.get_loc(label)
          ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/colinbull/Library/Caches/pypoetry/virtualenvs/fbit-data-pipeline-aJYNke-B-py3.12/lib/python3.12/site-packages/pandas/core/indexes/base.py", line 3812, in get_loc
    raise KeyError(key) from err
KeyError: 147756

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/opt/homebrew/Cellar/python@3.12/3.12.2_1/Frameworks/Python.framework/Versions/3.12/lib/python3.12/logging/__init__.py", line 1160, in emit
    msg = self.format(record)
          ^^^^^^^^^^^^^^^^^^^
  File "/opt/homebrew/Cellar/python@3.12/3.12.2_1/Frameworks/Python.framework/Versions/3.12/lib/python3.12/logging/__init__.py", line 999, in format
    return fmt.format(record)
           ^^^^^^^^^^^^^^^^^^
  File "/opt/homebrew/Cellar/python@3.12/3.12.2_1/Frameworks/Python.framework/Versions/3.12/lib/python3.12/logging/__init__.py", line 703, in format
    record.message = record.getMessage()
                     ^^^^^^^^^^^^^^^^^^^
  File "/opt/homebrew/Cellar/python@3.12/3.12.2_1/Frameworks/Python.framework/Versions/3.12/lib/python3.12/logging/__init__.py", line 392, in getMessage
    msg = msg % self.args
          ~~~~^~~~~~~~~~~
TypeError: not all arguments converted during string formatting
Call stack:
  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "/Users/colinbull/Library/Caches/pypoetry/virtualenvs/fbit-data-pipeline-aJYNke-B-py3.12/lib/python3.12/site-packages/ipykernel_launcher.py", line 18, in <module>
    app.launch_new_instance()
  File "/Users/colinbull/Library/Caches/pypoetry/virtualenvs/fbit-data-pipeline-aJYNke-B-py3.12/lib/python3.12/site-packages/traitlets/config/application.py", line 1075, in launch_instance
    app.start()
  File "/Users/colinbull/Library/Caches/pypoetry/virtualenvs/fbit-data-pipeline-aJYNke-B-py3.12/lib/python3.12/site-packages/ipykernel/kernelapp.py", line 739, in start
    self.io_loop.start()
  File "/Users/colinbull/Library/Caches/pypoetry/virtualenvs/fbit-data-pipeline-aJYNke-B-py3.12/lib/python3.12/site-packages/tornado/platform/asyncio.py", line 205, in start
    self.asyncio_loop.run_forever()
  File "/opt/homebrew/Cellar/python@3.12/3.12.2_1/Frameworks/Python.framework/Versions/3.12/lib/python3.12/asyncio/base_events.py", line 639, in run_forever
    self._run_once()
  File "/opt/homebrew/Cellar/python@3.12/3.12.2_1/Frameworks/Python.framework/Versions/3.12/lib/python3.12/asyncio/base_events.py", line 1985, in _run_once
    handle._run()
  File "/opt/homebrew/Cellar/python@3.12/3.12.2_1/Frameworks/Python.framework/Versions/3.12/lib/python3.12/asyncio/events.py", line 88, in _run
    self._context.run(self._callback, *self._args)
  File "/Users/colinbull/Library/Caches/pypoetry/virtualenvs/fbit-data-pipeline-aJYNke-B-py3.12/lib/python3.12/site-packages/ipykernel/kernelbase.py", line 545, in dispatch_queue
    await self.process_one()
  File "/Users/colinbull/Library/Caches/pypoetry/virtualenvs/fbit-data-pipeline-aJYNke-B-py3.12/lib/python3.12/site-packages/ipykernel/kernelbase.py", line 534, in process_one
    await dispatch(*args)
  File "/Users/colinbull/Library/Caches/pypoetry/virtualenvs/fbit-data-pipeline-aJYNke-B-py3.12/lib/python3.12/site-packages/ipykernel/kernelbase.py", line 437, in dispatch_shell
    await result
  File "/Users/colinbull/Library/Caches/pypoetry/virtualenvs/fbit-data-pipeline-aJYNke-B-py3.12/lib/python3.12/site-packages/ipykernel/ipkernel.py", line 362, in execute_request
    await super().execute_request(stream, ident, parent)
  File "/Users/colinbull/Library/Caches/pypoetry/virtualenvs/fbit-data-pipeline-aJYNke-B-py3.12/lib/python3.12/site-packages/ipykernel/kernelbase.py", line 778, in execute_request
    reply_content = await reply_content
  File "/Users/colinbull/Library/Caches/pypoetry/virtualenvs/fbit-data-pipeline-aJYNke-B-py3.12/lib/python3.12/site-packages/ipykernel/ipkernel.py", line 449, in do_execute
    res = shell.run_cell(
  File "/Users/colinbull/Library/Caches/pypoetry/virtualenvs/fbit-data-pipeline-aJYNke-B-py3.12/lib/python3.12/site-packages/ipykernel/zmqshell.py", line 549, in run_cell
    return super().run_cell(*args, **kwargs)
  File "/Users/colinbull/Library/Caches/pypoetry/virtualenvs/fbit-data-pipeline-aJYNke-B-py3.12/lib/python3.12/site-packages/IPython/core/interactiveshell.py", line 3075, in run_cell
    result = self._run_cell(
  File "/Users/colinbull/Library/Caches/pypoetry/virtualenvs/fbit-data-pipeline-aJYNke-B-py3.12/lib/python3.12/site-packages/IPython/core/interactiveshell.py", line 3130, in _run_cell
    result = runner(coro)
  File "/Users/colinbull/Library/Caches/pypoetry/virtualenvs/fbit-data-pipeline-aJYNke-B-py3.12/lib/python3.12/site-packages/IPython/core/async_helpers.py", line 129, in _pseudo_sync_runner
    coro.send(None)
  File "/Users/colinbull/Library/Caches/pypoetry/virtualenvs/fbit-data-pipeline-aJYNke-B-py3.12/lib/python3.12/site-packages/IPython/core/interactiveshell.py", line 3334, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "/Users/colinbull/Library/Caches/pypoetry/virtualenvs/fbit-data-pipeline-aJYNke-B-py3.12/lib/python3.12/site-packages/IPython/core/interactiveshell.py", line 3517, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "/Users/colinbull/Library/Caches/pypoetry/virtualenvs/fbit-data-pipeline-aJYNke-B-py3.12/lib/python3.12/site-packages/IPython/core/interactiveshell.py", line 3577, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/var/folders/gc/85db9xzj7qq8smp_vsbh9q3h0000gn/T/ipykernel_60449/2783862954.py", line 2, in <module>
    pd.DataFrame(rs)
  File "/Users/colinbull/Library/Caches/pypoetry/virtualenvs/fbit-data-pipeline-aJYNke-B-py3.12/lib/python3.12/site-packages/pandas/core/frame.py", line 843, in __init__
    data = list(data)
  File "/Users/colinbull/appdev/dfe/sfb/education-benchmarking-and-insights/data-pipeline/src/pipeline/rag.py", line 207, in compute_rag
    logger.exception(f"An exception occurred processing {urn}:", type(error).__name__, "–", error)
Message: 'An exception occurred processing 147756:'
Arguments: ('KeyError', '–', KeyError(147756))

,Urn,Category,Sub category,Value,Mean,Diff Mean,Key,Percentage Diff,Percentile,Decile,Rag
0,101849,Teaching and Teaching support staff,Teaching staff,3977.448908,3738.334089,239.114819,other,6.011763,89.000000,8.900000,amber
1,101849,Teaching and Teaching support staff,Supply teaching staff,0.704722,0.352361,0.352361,other,50.000000,52.333333,5.233333,green
2,101849,Teaching and Teaching support staff,Education support staff,916.138125,628.582340,287.555786,other,31.387820,82.333333,8.233333,amber
3,101849,Teaching and Teaching support staff,Educational consultancy,23.960536,13.599288,10.361248,other,43.242972,62.333333,6.233333,amber
4,101849,Teaching and Teaching support staff,Agency supply teching staff,377.026075,71.548317,305.477758,other,81.022979,99.000000,9.900000,red
...,...,...,...,...,...,...,...,...,...,...,...
369795,147755,Other costs,Other insurance premiums,0.000000,21.686747,-21.686747,other,0.000000,22.333333,2.233333,green
369796,147755,Other costs,Interest charges for loan and bank,0.000000,0.000000,0.000000,other,0.000000,99.000000,9.900000,red
369797,147755,Other costs,Direct revenue financing (revenue contribution...,2.500000,0.000000,2.500000,other,100.000000,59.000000,5.900000,amber
369798,147755,Other costs,PFI charges,0.000000,0.000000,0.000000,other,0.000000,99.000000,9.900000,red
369799,147755,Other costs,Total,82.500000,70.809265,11.690735,other,14.170588,55.666667,5.566667,amber

In [ ]:
%lprun -f rag.find_percentile list(rag.compute_rag(raw_data.head(10), raw_comparators))